@font-face {
  font-family: "pt sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "pt sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  box-shadow: 0 0 20px -5px #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  background-color: #f2f2f2;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 1200px;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-index {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  box-sizing: border-box;
  padding: 0 71px 0 55px;
  min-height: 65px;
}

.navigation-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-list .navigation-item:last-child {
  margin: 0;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 420px;
  padding: 0;
  margin: 0;
}

.navigation-link {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 6px 16px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  outline: none;
  color: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current {
  box-shadow: none;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 12px;
  right: 12px;
  border-bottom: 2px solid #756257;
}

.navigation-link-current:hover {
  color: #000;
}

.navigation-link-current:active {
  opacity: 1;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  min-width: 460px;
  padding: 0;
  margin: 0;
}

.navigation-user-link {
  display: block;
  text-decoration: none;
  position: relative;
  min-width: 38px;
  min-height: 38px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  fill: #000;
}

.navigation-user-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-user-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.navigation-user-link:focus-visible .navigation-icon{
  fill: #756257;
}

.navigation-user-link:active .navigation-icon{
  fill: #756257;
  opacity: 0.3;
}

.favorite-counter {
  position: absolute;
  top: 0;
  left: 22px;
  border-radius: 50%;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 13px;
  background-color: #7DB550;
  padding: 3px;
  min-width: 19px;
  min-height: 19px;
  z-index: 1;
}

.navigation-user-link:active .favorite-counter{
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  background-color: #756257;
  border-radius: 4px;
  border: none;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus-visible {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 4px;
}

.navigation-button:active {
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-item:last-child {
  margin: 0;
  margin-left: 23px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

.about-city {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 0 0 79px 0;
}

.welcome-bg {
  padding: 51px 371px 77px 371px;
  background-image: url("../img/background-welcome.jpg");
  background-repeat: no-repeat;
}

.about-city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 63px auto 0 auto;
  max-width: 720px;
}

.about-city-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.about-city-text {
  line-height: 36px;
  margin: 0;
  margin-top: 31px;
}

.advantages {
  text-align: center;
}

.bg-container-coldlight-trans {
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-container-coldlight-transest {
  background-color: rgba(131, 179, 211, 0.2);
}

.bg-container-white {
  background-color: #ffffff;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.advantage-list-start {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantage-list-end {
  margin: 0;
  padding: 0;
  display: flex;
  height: 384px;
}

.advantage-item {
  width: 400px;
  margin: 0;
  padding: 0;
}

.advantage-container {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantage-container-child {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 98px;
  padding-bottom: 83px;
  margin: 0;
}

.advantage-container-child .advantage-title, .advantage-list-end .advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 180px;
}

.advantage-container-child .advantage-description, .advantage-list-end .advantage-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
  width: 230px;
}

.advantage-bonus-list {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  width: 1200px;
  padding: 0;
}

.advantage-icon {
  position: absolute;
  top: 85px;
  left: 163px;
}

.advantage-bonus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 98px;
}

.advantage-bonus-list .advantage-bonus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 189px;
  padding-bottom: 89px;
}

.advantage-bonus-list .advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantage-bonus-list .advantage-description {
  font-size: 18px;
  line-height: 21px;
  margin: 20px auto 0 auto;
  max-width: 230px;
}

.spam {
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 91px 0 91px 0;
}

.spam-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
  width: 720px;
}

.spam-text {
  margin: 0 0 60px 0;
  width: 720px;
}

.spam-popup-button {
  background: #756257;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.spam-popup-link {
  color: #fff;
  background: #756257;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 12px 143px 12px 143px;
}

.spam-popup-link:hover {
  background-color: #615048;
}

.spam-popup-link:focus-visible {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 4px;
}

.spam-popup-link:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.main-inner {
  background-color: #ffffff;
}

.hotel-form-bg {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/background-catalog.jpg");
  background-repeat: no-repeat;
  height: 408px;
}

.hotel-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 72px 83px 72px;
}

.hotel {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotel-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-top: 5px;
}

.hotel-form {
  margin: 0;
  margin-top: 45px;
  padding: 0;
}

.filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.hotel-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  max-width: 150px;
}

.hotel-filter-group:nth-child(2) {
  margin-left: 67px;
}

.hotel-filter-list {
  padding: 0;
  margin: 0;
  margin-top: 17px;
}

.hotel-filter-item {
  padding: 0;
  margin: 0;
}

.control {
  margin-top: 13px;
  display: flex;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.hotel-filter-group-price {
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 162px;
}

.hotel-filter-input-price {
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  background: rgba(255, 255, 255, 0);
  padding: 14px 0 11px 19px;
  width: 143px;
}

.hotel-filter-input-price:nth-child(2) {
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.hotel-filter-input-price::placeholder {
  text-transform: uppercase;
  text-align: right;
  color: rgba(255, 255, 255, 0,3);
}

.price-table {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 34px;
  border: none;
}

.price-table-button {
  margin: 0;
  margin-top: 20px;
  max-width: 287px;
  display: flex;
  justify-content: center;
}

.hotel-filter-button {
  margin: 0;
  margin-top: 57px;
  margin-left: 81px;
  display: flex;
  flex-direction: column;
}

.filter-button-submit {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 34px;
  margin: 0;
  border: none;
  background: #83B3D3;
  border-radius: 4px;
}

.filter-button-reset {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-top: 16px;
  padding: 0 11px 0 11px;
  border: none;
  background: rgba(255, 255, 255, 0);
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  margin-left: 19px;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 71px;
  margin-top: 44px;
  width: 1058px;
}

.result-headline {
  padding: 0;
  margin: 0;
  display: flex;
}

.result-subject {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
}

.result-form {
  padding: 0;
  margin: 0;
  margin-left: 192px;
}

.result-sort {
  color: #333333;
  width: 287px;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 0 12px 19px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.result-view-button-group {
  display: flex;
  align-items: center;
  margin-left: 81px;
}

.result-view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.result-view-button:nth-child(3) {
  margin-right: 0;
}

.view-button-current {
  border: 2px solid #000000;
}

.result-list {
  padding: 0;
  margin: 0;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}

.result-item {
  display: grid;
  grid-template-columns: 180px 1fr max-content;
  column-gap: 36px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
}

.result-item:nth-child(4) {
  border-bottom: 1px solid #E6E6E6;
}

.result-item-img-link {
  display: flex;
  align-items: center;
}

.result-container {
  display: grid;
  grid-template-columns: 151px 1fr;
  grid-template-rows: repeat(2, min-content) auto;
  column-gap: 8px;
}

.result-item-link {
  color: #000000;
  text-decoration: none;
  grid-column: 1 / -1;
}

.result-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.result-item-text {
  width: 110px;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}
.result-item-more {
  color: #fff;
  background: #756257;
  box-sizing: border-box;
  justify-self: flex-start;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 28px;
  margin: 0;
  align-self: flex-end;
}

.result-item-favorite {
  color: #fff;
  background: #83B3D3;
  box-sizing: border-box;
  justify-self: flex-start;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  padding: 9px 20px;
  margin: 0;
  align-self: flex-end;
}

.favorite-added {
  background: #7DB54F;
}

.result-raiting {
  margin: 0;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-item-raiting {
  color: #333333;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 9px 30px;
}

.show-more-container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.show-more {
  color: #fff;
  background: #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 15px 227px;
}

.pagination-container {
  margin-top: 31px;
  display: flex;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  color: #ffffff;
  background: #83B3D3;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.page-show {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 301px;
}

.page-show-form {
  width: 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-show-label {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}

.page-show-select {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 17px;
}

.footer-index, .footer-inner {
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/background-subscribe.jpg");
  background-repeat: no-repeat;
  padding: 94px 0 92px 0;
}

.footer-subscribe .spam-title {
  color: #fff;
  margin: 0 auto;
  max-width: 500px;
}

.footer-subscribe .spam-text {
  color: #fff;
  margin: 29px auto 0 auto;
  max-width: 500px;
}

.footer-inner .footer-subscribe {
  background-color: #fff;
  background-image: none;
  padding: 89px 0 137px 0;
}

.footer-inner .spam-title {
  color: #000;
  margin: 0 auto;
  max-width: 500px;
}

.footer-inner .spam-text {
  color: #000;
  margin: 29px auto 0 auto;
  max-width: 500px;
}

.footer-form {
  margin: 0;
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.email-field {
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 22px;
  margin: 0;
  width: 600px;
}

.email-field:hover {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.6)
}

.email-field:focus-visible {
  outline: none;
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}
/*  Не получилось сделать активную и инвалидную форму

.email-field:focus {
  box-shadow: inset 0 0 0 2px #000;
  background-color: #fff;
  color: #000;
}

*/

.footer-submit-button {
  color: #fff;
  border: none;
  background: #83B3D3;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.footer-submit-button:hover {
  cursor: pointer;
  background-color: #68A2CA;
}

.footer-submit-button:focus-visible {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.footer-submit-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
  display: flex;
  align-items: center;
  padding: 22px 0 26px 0;
  width: 1200px;
  margin: 0;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 3px;
  margin: 0;
  margin-left: 63px;
  margin-right: auto;
  padding: 0;
}

.footer-social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  box-sizing: border-box;
  max-width: 40px;
  max-height: 40px;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-logo:hover .social-icon {
  fill: #68A2CA;
}

.footer-social-logo:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.footer-social-logo:focus-visible .social-icon {
  fill: #68A2CA;
}

.footer-social-logo:active .social-icon {
  fill: #68A2CA;
  opacity: 0.3;
}

.footer-tel {
  margin: 0 0 0 20px;
}

.footer-tel-number {
  display: block;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
}

.dev {
  margin: 0 50px 0 auto;
  padding: 0;
}

.dev-logo-link {
  display: block;
  padding: 18px 22px;
  box-sizing: border-box;
}

.dev-logo {
  align-self: center;
  fill: #000;
}

.footer-tel-number:hover, .dev-logo-link:hover .dev-logo {
  color: #756257;
  fill: #756257;
}

.footer-tel-number:focus-visible, .dev-logo-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  color: #756257;
}

.dev-logo-link:focus-visible .dev-logo {
  fill: #756257;
}

.footer-tel-number:active, .dev-logo-link:active .dev-logo {
  color: #756257;
  fill: #756257;
  opacity: 0.3;
}
